* {
    padding: 0;
    /* margin: 0; */
    border: 0;
}

body {


    background-color: bisque;
    font-family: 'Lucida Sans Unicode', sans-serif;
    margin-top: 30px;

}


.btn {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    color: white;
    transition: background-color 1s;
    cursor: pointer;
}

.box {

    margin: 0 auto;
    max-width: 1200px;
    border: 1px solid rgb(173, 173, 173);
    display: flex;
    align-items: center;
}

.container__btn {

    height: 100%;
    display: flex;
    flex-direction: row;
}


.note__done__btn {
    background-color: green;

}

.note__done__btn:hover {

    background-color: rgb(7, 99, 49);
}

.note__edit__btn {
    background-color: rgb(244, 164, 17);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}

.note__edit__btn:hover {
    background-color: rgb(183, 125, 18);

}

.note__save__btn {

    background-color: gray;
}

.note__save__btn:hover {
    background-color: rgb(57, 57, 57);

}


.note__remove__btn {

    background-color: red;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


.note__remove__btn:hover {
    background-color: rgb(180, 44, 29);

}


.note__write {

    max-width: 75%;
    word-wrap: break-word;

}

.note {

    height: 40px;
    margin-bottom: 5px;
    justify-content: space-between;
    padding: 10px;

}

.note_active {

    background-color: rgb(141, 212, 139);
}

.inputStyle {
    display: block;
    height: 100%;
    width: 100%;
    background-color: inherit;
    outline: none;
}

.note_border {

    box-shadow: 0 0 10px 3px rgb(125, 214, 125);

}





.action__btn {
    /* margin-bottom: 5px; */
    border-radius: 3px;
    background-color: goldenrod;
}

.action__btn:hover {
    background-color: rgb(168, 137, 61);
}

.remove__btn {
    border-radius: 3px;
}


.form {
    /* min-height: 30px; */
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    /* align-items: center;
    justify-content: center; */

}

.form__input {
    display: block;
    width: 100%;
    height: inherit;
    padding: 5px;
    border: 1px solid rgb(185, 168, 168);
    background-color: inherit;
}

.form__input:focus {
    outline-color: rgb(178, 197, 131);
}

.form__btn {
    cursor: pointer;
    padding: 5px 15px;
    color: bisque;
    display: block;
    background-color: rgb(61, 103, 218);
    transition: background-color 1s;
}

.form__btn:hover {
    background-color: rgb(39, 72, 161);
}

.user__btn {

    color: rgba(11, 118, 207, 0.932);
    background-color: bisque;
    border-radius: 4px;
    border: 1px solid rgb(34, 90, 181);
    margin-right: 5px;
}

.user__btn:hover {

    background-color: rgb(34, 90, 181);
}


.nav {

    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.user__btn_active {

    background-color: rgb(30, 136, 178);
    color: bisque;
}

.empty__list {
    height: 50vh;
    align-items: flex-start;
    padding: 10px;
}